.footer-subscribe__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  background-color: var(--button);
  color: var(--secondary-text-color);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border: 0;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}

.icon-send {
  fill: rgba(255, 255, 255, 1);
  margin-left: 10px;
}
.footer-subscribe__form--input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.25;
  background-color: rgba(33, 150, 243, 0);
  padding-left: 16px;
  margin-right: 12px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }

  &:hover,
  &:focus {
    outline: none;
  }
}
.social__link {
  width: 44px;
  height: 44px;
  background-color: #ffffff1a;
  border: 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #2196f3;
  }
}
.icon-instagram,
.icon-twitter,
.icon-facebook,
.icon-linkedin {
  fill: #ffffff;
}
.social__title,
.footer-subscribe__title {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px;
  margin-bottom: 20px;
}
.footer {
  background-color: var(--secondary-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.logo-footer {
  color: var(--secondary-text-color);
  display: block;
  margin-bottom: 20px;
  font-family: var(--secondary-font-family);
  font-weight: 700;
}

@media screen and (max-width: 1199px) {
  .footer--flex {
    display: block;
    text-align: center;
  }
  .adress__link {
    color: var(--secondary-text-color);
    font-style: normal;
    line-height: 1.71;

    &--opacity {
      opacity: 60%;
    }
  }

  .logo-footer {
    font-size: 24px;
  }
  .adress {
    width: 232px;
    margin: 0 auto;

    &_container {
      margin-bottom: 60px;
    }
  }
  .adress__link {
    display: block;

    &:not(:last-child) {
      margin-bottom: 9px;
    }
  }

  .social {
    min-width: 206px;
    margin-bottom: 60px;
  }
  .social__list {
    display: flex;
    justify-content: center;
  }

  .social__item:not(:last-child) {
    margin-right: 10px;
  }
  .footer-subscribe__form--input {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    margin-right: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer_tablet--flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .adress_container {
    margin-right: 165px;
  }
  .footer-subscribe__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-subscribe__form--input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .adress__link {
    color: var(--secondary-text-color);
    font-style: normal;
    line-height: 1.71;
    display: block;

    &--opacity {
      opacity: 60%;
    }
  }

  .footer {
    &_tablet--flex {
      display: flex;
      align-items: baseline;
    }
    &--flex {
      display: flex;
      align-items: baseline;
    }
  }

  .logo-footer {
    font-size: 26px;
    line-height: 1.15;
  }

  .adress {
    width: 230px;
  }

  .adress__link {
    &:not(:last-child) {
      margin-bottom: 9px;
    }
  }

  .social {
    min-width: 206px;
    margin-left: 70px;
    /* padding-top: 12px; */
  }
  .social__list {
    display: flex;
  }

  .social__item:not(:last-child) {
    margin-right: 10px;
  }
  .footer-subscribe {
    margin-left: 90px;
  }
  .footer-subscribe__form--input {
    width: 358px;
    height: 50px;
  }
}
