@media screen and (min-width: 480px) {
  .header {
    border-bottom: 1px solid #ececec;
  }
  .header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo {
    font-family: var(--secondary-font-family);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.15;
    color: var(--logo);
    padding-top: 16px;
    padding-bottom: 16px;

    &--web {
      color: var(--logoweb);
    }
  }
  .header_mobile-button--open {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header_mobile-button--open,
  .header_mobile-button--close {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      fill: var(--button);
    }
  }

  .header_mobile-menu--container {
    position: relative;
  }
  .header_mobile-button--close {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 10px;
    right: 15px;
  }
  .header_mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color);
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms linear, visibility 250ms linear;

    &.is-open {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
      z-index: 55;
    }
  }

  .navigation__list--mobile {
    padding-top: 48px;
    padding-left: 40px;
  }
  .navigation__link--mobile {
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--main-color);
    display: block;
    margin-bottom: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--button);
    }
  }

  .navigation__link-contacts-mob {
    margin-bottom: 302px;
  }
  .contacts--mobile {
    display: block;
    padding-left: 40px;

    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }
}

// Моб граница

// .logo {
//   font-family: var(--secondary-font-family);
//   font-weight: 700;
//   font-size: 26px;
//   line-height: 1.15;
//   color: var(--logo);
//   padding-top: 25px;
//   padding-bottom: 25px;
//   margin-right: 93px;

//   &--web {
//     color: var(--logoweb);
//   }

.navigation__link,
.contacts__link {
  font-weight: 500;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--text-link-selection);
  }
  display: none;
}
.navigation__link {
  color: var(--main-color);
  position: relative;

  &.current {
    color: var(--text-link-selection);
  }
  display: none;
}

.navigation__link.navigation__link--studia.current::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--text-link-selection);
  width: 49px;
  height: 4px;
  border: 0;
  border-radius: 2px;
  animation: blue-line-header 300ms linear;
  display: none;
}
.navigation__link.navigation__link--portfolio.current::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--text-link-selection);
  width: 77px;
  height: 4px;
  border: 0;
  border-radius: 2px;
  animation: blue-line-header 300ms linear;
  display: none;
}
.navigation__link.navigation__link--contacts.current::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--text-link-selection);
  width: 77px;
  height: 4px;
  border: 0;
  border-radius: 2px;
  animation: blue-line-header 300ms linear;
  display: none;
}

// .navigation {
//   display: flex;
//   align-items: center;
//   margin-right: auto;
// }
// .navigation__list {
//   display: flex;
//   align-items: center;
// }
// .navigation__link {
//   padding-top: 32px;
//   padding-bottom: 32px;
// }
// .contacts {
//   display: flex;
//   align-items: center;
// }

// .contacts__link {
//   padding-top: 32px;
//   padding-bottom: 32px;
//   display: flex;
//   align-items: center;
//   color: var(--text-color);
// }

// .navigation__item:not(:last-child),
// .contacts__item:not(:last-child) {
//   margin-right: 50px;
// }

// .icon-envelope,
// .icon-smartphone {
//   fill: #757575;
//   margin-right: 10px;
//   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   .contacts__link:hover &,
//   .contacts__link:focus & {
//     fill: var(--text-link-selection);
//   }
// }
