.clients__link {
  border: 1px solid rgba(175, 177, 184, 1);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border: 1px solid var(--text-link-selection);
  }
}
.clients__title {
  text-align: center;
}
.icon-company,
.icon-company2,
.icon-company3,
.icon-company4,
.icon-company5,
.icon-company6 {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .clients__link:hover &,
  .clients__link:focus & {
    fill: var(--text-link-selection);
  }
}
@media screen and (max-width:767px) {
  .clients__link {
    width: 210px;
    height: 92px;
  }
  .clients__title {
    font-size: 28px;
    margin-bottom: 30px;
  }
  .clients__list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
  }
  .clients__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-right: 30px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .clients__link {
    width: 226px;
    height: 92px;
  }
  .clients__list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
  }
  .clients__item {
    flex-basis: calc(100% / 3 - 30px);
    margin-right: 30px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__list {
    display: flex;
    justify-content: center;
  }

  .clients__link {
    width: 170px;
    height: 92px;
  }

  .clients__item:not(:last-child) {
    margin-right: 30px;
  }
  .clients__title {
    font-size: 36px;
    margin-bottom: 50px;
  }
  .icon-company,
  .icon-company2,
  .icon-company3,
  .icon-company4,
  .icon-company5,
  .icon-company6 {
    fill: #afb1b8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .clients__link:hover &,
    .clients__link:focus & {
      fill: var(--text-link-selection);
    }
  }
  .clients__list {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-right: 0;
    margin-bottom: 0;
  }
  .clients__item {
    margin-bottom: 0;
  }
}
