.modal__icon--close {
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .modal__button--close:hover &,
  .modal__button--close:focus & {
    fill: var(--button);
  }
}

.modal__button--close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--background-color);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  top: 8px;
  right: 8px;
}
.modal {
  position: absolute;
  background-color: var(--background-color);
}
@media screen and (max-width: 480px) {
  .modal {
    width: 100%;
    height: 609px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    height: 609px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}
