.modal-form__title {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 12px;
  width: 448px;
}
.modal__button--submit {
  width: 200px;
  height: 50px;
  margin: 30px auto;
  background-color: var(--text-link-selection);
  border: 0;
  border-radius: 4px;
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}

.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-form-container__input--name,
.modal-form-container__input--mail,
.modal-form-container__input--tel {
  position: relative;
}

.modal-form__input:focus + .modal-form__icon--name,
.modal-form__input:hover + .modal-form__icon--name,
.modal-form__input:focus + .modal-form__icon--tel,
.modal-form__input:hover + .modal-form__icon--tel,
.modal-form__input:focus + .modal-form__icon--mail,
.modal-form__input:hover + .modal-form__icon--mail {
  fill: var(--text-link-selection);
}

.modal-form__icon--name,
.modal-form__icon--tel,
.modal-form__icon--mail {
  position: absolute;
  top: 16px;
  left: 14px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__label {
  font-size: 12px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 1);

  &:focus,
  &:hover {
    color: var(--text-link-selection);
  }
}
//
@media screen and (min-width: 480px) {
  .modal-form-container {
    padding: 40px 38px;
  }
  .modal-form__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 12px;
    width: 370px;
  }
  .modal-form__input--name,
  .modal-form__input--tel,
  .modal-form__input--mail {
    width: 370px;
    height: 40px;
    margin-top: 4px;
    margin-bottom: 10px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
  }
  .modal-form__input {
    cursor: pointer;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
      border: 1px solid #2196f3;
      outline: none;
    }
  }

  .modal-form__label--policy {
    font-size: 12px;
    color: rgba(117, 117, 117, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &::before {
      content: '';
      display: inline-block;
      width: 16px;
      height: 15px;
      background-image: url(../images/checkbox-empty.svg);
      margin-right: 7px;
      cursor: pointer;
      transition: background-image 50ms cubic-bezier(0.4, 0, 0.2, 1),
        border-radius 50ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  .modal-form__checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  .modal-form__checkbox:focus + .modal-form__label--policy::before {
    outline: 1px solid var(--button);
  }
  .modal-form__checkbox:checked + .modal-form__label--policy::before {
    background-image: url(../images/checkbox-checked.svg);
    border-radius: 2px;
  }
  .modal-form-container__policy {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  .modal-form__link--policy {
    font-size: 12px;
    color: var(--text-link-selection);
  }

  .modal-form__comment--area {
    height: 120px;
    margin-top: 4px;
    margin-bottom: 20px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
    letter-spacing: 0.01em;
    resize: none;

    &::placeholder {
      color: rgba(117, 117, 117, 0.5);
    }
  }
}

@media screen and (min-width: 1200px) {
  .modal-form-container {
    padding: 40px 40px;
  }
  .modal-form__title {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 12px;
    width: 448px;
  }
  .modal-form__input--name,
  .modal-form__input--tel,
  .modal-form__input--mail {
    width: 448px;
    height: 40px;
    margin-top: 4px;
    margin-bottom: 10px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
  }
  .modal-form__input {
    cursor: pointer;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
      border: 1px solid #2196f3;
      outline: none;
    }
  }

  .modal-form__label--policy {
    line-height: 1.71;
    font-size: 14px;
    color: rgba(117, 117, 117, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &::before {
      content: '';
      display: inline-block;
      width: 16px;
      height: 15px;
      background-image: url(../images/checkbox-empty.svg);
      margin-right: 7px;
      cursor: pointer;
      transition: background-image 50ms cubic-bezier(0.4, 0, 0.2, 1),
        border-radius 50ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  .modal-form__checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  .modal-form__checkbox:focus + .modal-form__label--policy::before {
    outline: 1px solid var(--button);
  }
  .modal-form__checkbox:checked + .modal-form__label--policy::before {
    background-image: url(../images/checkbox-checked.svg);
    border-radius: 2px;
  }
  .modal-form-container__policy {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  .modal-form__link--policy {
    line-height: 1.71;
    color: var(--text-link-selection);
  }

  .modal-form__comment--area {
    height: 120px;
    margin-top: 4px;
    margin-bottom: 20px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
    letter-spacing: 0.01em;
    resize: none;

    &::placeholder {
      color: rgba(117, 117, 117, 0.5);
    }
  }
}

// .modal-form__title {
//   font-size: 20px;
//   font-weight: 700;
//   text-align: center;
//   margin-bottom: 12px;
//   width: 448px;
// }
// .modal-form__input--name,
// .modal-form__input--tel,
// .modal-form__input--mail {
//   width: 448px;
//   height: 40px;
//   margin-top: 4px;
//   margin-bottom: 10px;
//   border: 1px solid rgba(33, 33, 33, 0.2);
//   border-radius: 4px;
//   padding-left: 42px;
// }
// .modal-form__input {
//   cursor: pointer;
//   transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &:focus,
//   &:hover {
//     border: 1px solid #2196f3;
//     outline: none;
//   }
// }

// .modal-form__label--policy {
//   line-height: 1.71;
//   color: rgba(117, 117, 117, 1);
//   display: inline-flex;
//   align-items: center;
//   justify-content: center;

//   &::before {
//     content: '';
//     display: inline-block;
//     width: 16px;
//     height: 15px;
//     background-image: url(../images/checkbox-empty.svg);
//     margin-right: 7px;
//     cursor: pointer;
//     transition: background-image 50ms cubic-bezier(0.4, 0, 0.2, 1),
//       border-radius 50ms cubic-bezier(0.4, 0, 0.2, 1);
//   }
// }

// .modal-form__checkbox {
//   -webkit-appearance: none;
//   -moz-appearance: none;
//   appearance: none;
// }
// .modal-form__checkbox:focus + .modal-form__label--policy::before {
//   outline: 1px solid var(--button);
// }
// .modal-form__checkbox:checked + .modal-form__label--policy::before {
//   background-image: url(../images/checkbox-checked.svg);
//   border-radius: 2px;
// }
// .modal-form-container__policy {
//   display: inline-flex;
//   align-items: center;
//   justify-content: center;
// }
// .modal-form__link--policy {
//   line-height: 1.71;
//   color: var(--text-link-selection);
// }

// .modal-form__comment--area {
//   height: 120px;
//   margin-top: 4px;
//   margin-bottom: 20px;
//   border: 1px solid rgba(33, 33, 33, 0.2);
//   border-radius: 4px;
//   padding: 12px 16px;
//   letter-spacing: 0.01em;
//   resize: none;

//   &::placeholder {
//     color: rgba(117, 117, 117, 0.5);
//   }
// }
