.filter__button {
  background-color: var(--button-bg);
  color: var(--main-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
  border: 0px;
  letter-spacing: 0.03em;
  border-radius: 4px;
  padding: 6px 22px;
  min-width: 73px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--button);
    color: var(--secondary-text-color);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
      0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  }
}
.filter__item:not(:last-child) {
  margin-right: 8px;
}
@media screen and (max-width: 767px) {
  .filter__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-bottom: 50px;
  }
  .filter__item:first-child {
    margin-bottom: 15px;
  }
  .filter__item:nth-child(3) {
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 768px) {
  .filter__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .filter__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
  }
}
