.portfolio__title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--main-color);
}
.portfolio__description {
  font-size: 16px;
  line-height: 1.87;
  color: var(--text-color);
}
.portfolio__img {
  display: block;
}
.portfolio-photo-caption {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  text-align-last: left;
}
.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);

  &-container {
    position: relative;
    overflow: hidden;
  }

  &-descriptions {
    color: var(--secondary-text-color);
    font-size: 18px;
    line-height: 1.55;
    width: 322px;
    height: 168px;
  }
  .portfolio__item:hover &,
  .portfolio__item:focus & {
    opacity: 1;
    transform: translateY(0);
  }
}
.portfolio__item {
  &:hover,
  &:focus {
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
      0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
  }
}

@media screen and (max-width:767px) {
  .portfolio__list {
    display: block;
    text-align: center;
  }
  .portfolio__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio-photo-caption {
    padding: 20px 18px;
  }
  .portfolio__list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
  }
  .portfolio__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-right: 30px;
    margin-bottom: 30px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-photo-caption {
    padding: 20px 24px;
  }
  .portfolio__list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
  }
  .portfolio__item {
    flex-basis: calc(100% / 3 - 30px);
    margin-right: 30px;
    margin-bottom: 30px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  /* При марджин -30, если убрать нижние два значения, схема не сработала!? */
  /* .portfolio__item:nth-child(3n + 3) {
  margin-right: 0px;
}
.portfolio__item:nth-child(n + 7) {
  margin-bottom: 0px;
} */
}
