.team__title {
  text-align: center;
  margin-bottom: 50px;
}
.team-person__position {
  font-size: 16px;
  text-align: center;
  color: var(--text-color);
}
.team-person__title {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  margin-bottom: 10px;
}
.team {
  background-color: #f5f4fa;
}
.team__img {
  display: block;
  width: 100%;
}

.team-person {
  padding-top: 30px;
  padding-bottom: 16px;
  background-color: #fff;
}
.team__item {
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}
.team-social__link {
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border: 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #2196f3;
  }
}
.team-social__list {
  display: flex;
}
.team-social__item:not(:last-child) {
  margin-right: 10px;
}
.team-social__link .icon-instagram,
.team-social__link .icon-twitter,
.team-social__link .icon-facebook,
.team-social__link .icon-linkedin {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social__link:hover .icon-instagram,
.team-social__link:focus .icon-instagram,
.team-social__link:hover .icon-twitter,
.team-social__link:focus .icon-twitter,
.team-social__link:hover .icon-facebook,
.team-social__link:focus .icon-facebook,
.team-social__link:hover .icon-linkedin,
.team-social__link:focus .icon-linkedin {
  fill: #ffffff;
}
.team-social {
  background-color: #fff;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

@media screen and (max-width: 767px) {
  .team__title {
    font-size: 28px;
  }
  .team__list {
    display: block;
  }
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
  .team-social {
    padding-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .team__title {
    font-size: 28px;
  }
  .team-social {
    padding: 0 74px 24px;
  }
  .team__list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
  }
  .team__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-right: 30px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
  }
  .team__list {
    display: flex;
  }

  .team-social {
    padding: 0 32px 30px;
  }
  .team__list {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-right: 0;
    margin-bottom: 0;
  }
  .team__item {
    margin-bottom: 0;
  }
  .team__item:not(:last-child) {
    margin-right: 30px;
  }
}
