@media screen and (min-width: 480px) {
  .we-doing {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .we-doing {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .we-doing {
    display: block;
  }
  .we-doing__title {
    font-size: 36px;
    text-align: center;
    margin-bottom: 50px;
  }
  .we-doing {
    padding-top: 0;
  }
  .we-doing__list {
    display: flex;
  }
  .we-doing__item {
    position: relative;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  .we-doing__label.desktop-label {
    position: absolute;
    color: var(--secondary-text-color);
    background-color: rgba(47, 48, 58, 0.8);
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 370px;
    height: 70px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .we-doing__label.mobile-label {
    position: absolute;
    color: var(--secondary-text-color);
    background-color: rgba(47, 48, 58, 0.8);
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 370px;
    height: 70px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .we-doing__label.design-label {
    position: absolute;
    color: var(--secondary-text-color);
    background-color: rgba(47, 48, 58, 0.8);
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 370px;
    height: 70px;
    font-weight: 700;
    text-transform: uppercase;
  }

  .we-doing__img {
    display: block;
  }
}
