:root {
  --main-color: #212121;
  --logoweb: #2196f3;
  --logo: #000;
  --secondary-bg-color: #2f303a;
  --background-color: #ffffff;
  --text-color: #757575;
  --secondary-text-color: #ffffff;
  --text-link-selection: #2196f3;
  --button: #2196f3;
  --button-bg: #f5f4fa;
  --secondary-font-family: 'Raleway', sans-serif;
}
